.todo-timer {
  height: 40px;
  width: 10rem;
  margin: 0 auto;
  display: flex;
  align-items: center;

  &:hover .button-play {
    display: block;
  }

  .pie-wrapper {
    transform: scale(.1);

    svg {
      display: block;
      margin: 5px auto;
    }

    #loader {
      fill: #0088cc;
    }

    #border {
      fill: #00517a;
    }
  }

  .button-play {
    display: none;
    transform: scale(.3);
    margin-left: -200px;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;

    // play state
    border-style: solid;
    border-width: 37px 0 37px 60px;

    &.paused {
      border-style: double;
      border-width: 0 0 0 60px;
    }

    &:hover {
      border-color: transparent transparent transparent #404040;
    }
  }
}
